# Python-Oracle 연동 - 입력, 수정, 삭제

## #01. 준비작업

### [1] 패키지 참조

In [1]:
import warnings
warnings.filterwarnings(action='ignore')

import cx_Oracle as cx

## #02. cx_oracle을 사용한 연동

### [1] 데이터베이스 접속 및 cursor 객체 생성

In [43]:
dbcon = cx.connect("C##", "", "localhost:1521/xe")
cursor = dbcon.cursor()

### [2] 데이터 저장하기

#### (1) 저장을 위한 값 입력받기

In [41]:
JOB_ID= input("직업번호를 입력하세요")
JOB_TITLE = input("직업의 이름을 입력하세요")
MIN_SALARY = input("최소 연봉을 입력하세요")
MAX_SALARY = input("최대 연봉을 입력하세요")

In [44]:
print(JOB_ID)

99

#### (2) 저장을 위한 새로운 시퀀스값 조회

In [52]:
sql = "SELECT * FROM JOBS"

try:
    cursor.execute(sql)

    # rowfactory 재정의 - 접속 해제 전까지 최초 1회만 수행하면 된다.
    cursor.rowfactory = lambda *args: dict(zip([d[0] for d in cursor.description], args))

    result = cursor.fetchall()
    print(result)
except Exception as e:
    print("데이터 조회 실패", e)

[{'JOB_ID': 'AD_PRES', 'JOB_TITLE': 'President', 'MIN_SALARY': 20000, 'MAX_SALARY': 40000}, {'JOB_ID': 'AD_VP', 'JOB_TITLE': 'Administration Vice President', 'MIN_SALARY': 15000, 'MAX_SALARY': 30000}, {'JOB_ID': 'AD_ASST', 'JOB_TITLE': 'Administration Assistant', 'MIN_SALARY': 3000, 'MAX_SALARY': 6000}, {'JOB_ID': 'FI_MGR', 'JOB_TITLE': 'Finance Manager', 'MIN_SALARY': 8200, 'MAX_SALARY': 16000}, {'JOB_ID': 'FI_ACCOUNT', 'JOB_TITLE': 'Accountant', 'MIN_SALARY': 4200, 'MAX_SALARY': 9000}, {'JOB_ID': 'AC_MGR', 'JOB_TITLE': 'Accounting Manager', 'MIN_SALARY': 8200, 'MAX_SALARY': 16000}, {'JOB_ID': 'AC_ACCOUNT', 'JOB_TITLE': 'Public Accountant', 'MIN_SALARY': 4200, 'MAX_SALARY': 9000}, {'JOB_ID': 'SA_MAN', 'JOB_TITLE': 'Sales Manager', 'MIN_SALARY': 10000, 'MAX_SALARY': 20000}, {'JOB_ID': 'SA_REP', 'JOB_TITLE': 'Sales Representative', 'MIN_SALARY': 6000, 'MAX_SALARY': 12000}, {'JOB_ID': 'PU_MAN', 'JOB_TITLE': 'Purchasing Manager', 'MIN_SALARY': 8000, 'MAX_SALARY': 15000}, {'JOB_ID': 'PU_CLERK', 'JOB_TITLE': 'Purchasing Clerk', 'MIN_SALARY': 2500, 'MAX_SALARY': 5500}, {'JOB_ID': 'ST_MAN', 'JOB_TITLE': 'Stock Manager', 'MIN_SALARY': 5500, 'MAX_SALARY': 8500}, {'JOB_ID': 'ST_CLERK', 'JOB_TITLE': 'Stock Clerk', 'MIN_SALARY': 2000, 'MAX_SALARY': 5000}, {'JOB_ID': 'SH_CLERK', 'JOB_TITLE': 'Shipping Clerk', 'MIN_SALARY': 2500, 'MAX_SALARY': 5500}, {'JOB_ID': 'IT_PROG', 'JOB_TITLE': 'Programmer', 'MIN_SALARY': 4000, 'MAX_SALARY': 10000}, {'JOB_ID': 'MK_MAN', 'JOB_TITLE': 'Marketing Manager', 'MIN_SALARY': 9000, 'MAX_SALARY': 15000}, {'JOB_ID': 'MK_REP', 'JOB_TITLE': 'Marketing Representative', 'MIN_SALARY': 4000, 'MAX_SALARY': 9000}, {'JOB_ID': 'HR_REP', 'JOB_TITLE': 'Human Resources Representative', 'MIN_SALARY': 4000, 'MAX_SALARY': 9000}, {'JOB_ID': 'PR_REP', 'JOB_TITLE': 'Public Relations Representative', 'MIN_SALARY': 4500, 'MAX_SALARY': 10500}]

In [50]:
sql = "SELECT seq_jobs.nextval FROM dual"
cursor.execute(sql)
result = cursor.fetchall()
print(result)

seq = result[0][0]
print("새로운 시퀀스 번호: %d" % seq)

[(22,)]
새로운 시퀀스 번호: 22

#### (3) INSERT문 수행

In [53]:
sql = "INSERT INTO JOBS (JOB_ID, JOB_TITLE,MIN_SALARY,MAX_SALARY) VALUES (:1, :2, :3, :4)"

#                    :1     :2    :3
cursor.execute(sql, [seq, JOB_TITLE, MIN_SALARY, MAX_SALARY])
print("%s개의 행이 저장됨" % cursor.rowcount)

dbcon.commit()

# 되돌리기
# --> 이미 commit()한 내역은 적용안됨
#dbcon.rollback()

1개의 행이 저장됨

#### (4) UPDATE문 수행

In [ ]:
sql = "UPDATE department SET dname=:1, loc=:2 WHERE deptno=:3"
cursor.execute(sql, ['메가스터디', '신촌', seq])
print("%s개의 행이 갱신됨" % cursor.rowcount)
dbcon.commit()

#### (5) DELETE문 수행

In [ ]:
sql = "DELETE FROM department WHERE deptno = :1"
cursor.execute(sql, [seq])
print("%s개의 행이 삭제됨" % cursor.rowcount)
dbcon.commit()

### [3] 데이터베이스 접속 해제

In [54]:
try:
    cursor.close()
    dbcon.close()
except Exception as e:
    print("접속 상태가 아닙니다.", e)