# 분산분석 모듈화

## #01. 준비작업

### [1] 패키지 가져오기

In [1]:
import sys
import os
work_path = os.path.abspath(os.path.join(os.getcwd(), '../../../../'))
sys.path.append(work_path)
from helper.regression import *
from helper.plot import *
from helper.util import *
from helper.analysis import *

## #01. 일원분산분석

### [1] 데이터 가져오기

In [2]:
origin = my_read_excel('C:/Users/Jihwan/Desktop/01Class/E.추론통계/E.InferentialStatistics/수업자료/store.xlsx')

데이터프레임 크기: 행 수: 100, 열 수: 2

데이터프레임 상위 5개 행
+----+----------+----------+
|    |   store1 |   store2 |
|----+----------+----------|
|  0 |       34 |       63 |
|  1 |       63 |       85 |
|  2 |       57 |       75 |
|  3 |       50 |       48 |
|  4 |       37 |       58 |
+----+----------+----------+

데이터프레임 하위 5개 행
+----+----------+----------+
|    |   store1 |   store2 |
|----+----------+----------|
| 95 |       53 |       69 |
| 96 |       52 |       51 |
| 97 |       52 |       65 |
| 98 |       49 |       59 |
| 99 |       44 |       71 |
+----+----------+----------+

기술통계
+--------+---------+--------+---------+-------+-------+-------+-------+-------+-------+
|        |   count |   mean |     std |   min |   25% |   50% |   75% |   max |   nan |
|--------+---------+--------+---------+-------+-------+-------+-------+-------+-------|
| store1 |     100 |  50.36 | 10.6842 |    14 |    44 |    51 | 57.25 |    71 |     0 |
| store2 |     100 |  61.07 | 9.01094 |    40 |    54 |    61 | 66.25 |    85 |     0 |
+--------+---------+--------+---------+-------+-------+-------+-------+-------+-------+

In [3]:
df = melt(origin)
my_pretty_table(df.head())

+----+------------+---------+
|    | variable   |   value |
|----+------------+---------|
|  0 | store1     |      34 |
|  1 | store1     |      63 |
|  2 | store1     |      57 |
|  3 | store1     |      50 |
|  4 | store1     |      37 |
+----+------------+---------+

### [2] 일원분산분석 수행

In [4]:
my_anova(df, 'value', 'variable', False)

pingouin.welch_anova
+----+----------+---------+---------+---------+-------------+----------+
|    | Source   |   ddof1 |   ddof2 |       F |       p-unc |      np2 |
|----+----------+---------+---------+---------+-------------+----------|
|  0 | variable |       1 | 192.521 | 58.7175 | 8.69483e-13 | 0.228724 |
+----+----------+---------+---------+---------+-------------+----------+

statsmodels.anova.anova_lm
+-------------+------+----------+-----------+---------+-------------+
|             |   df |   sum_sq |   mean_sq |       F |      PR(>F) |
|-------------+------+----------+-----------+---------+-------------|
| C(variable) |    1 |   5735.2 |    5735.2 | 58.7175 | 7.94548e-13 |
| Residual    |  198 |  19339.5 |   97.6745 |     nan |         nan |
+-------------+------+----------+-----------+---------+-------------+
[anova_lm] statistic: 58.718, p-value: 0.000, 대립가설 채택

사후검정: Games-Howell 방법
+----+--------+--------+-----------+-----------+--------+---------+----------+---------+-------------+----------+
|    | A      | B      |   mean(A) |   mean(B) |   diff |      se |        T |      df |        pval |   hedges |
|----+--------+--------+-----------+-----------+--------+---------+----------+---------+-------------+----------|
|  0 | store1 | store2 |     50.36 |     61.07 | -10.71 | 1.39767 | -7.66274 | 192.521 | 9.28146e-13 | -1.07956 |
+----+--------+--------+-----------+-----------+--------+---------+----------+---------+-------------+----------+

## #03. 이원분산분석

### [1] 데이터 가져오기

In [5]:
origin = my_read_excel('C:/Users/Jihwan/Desktop/01Class/E.추론통계/E.InferentialStatistics/수업자료/plant_growth.xlsx')

데이터프레임 크기: 행 수: 120, 열 수: 3

데이터프레임 상위 5개 행
+----+---------+-------+----------+
|    | water   | sun   |   height |
|----+---------+-------+----------|
|  0 | daily   | low   |      4.9 |
|  1 | daily   | low   |      7.9 |
|  2 | daily   | low   |      3.9 |
|  3 | daily   | low   |      5.1 |
|  4 | daily   | low   |      5.2 |
+----+---------+-------+----------+

데이터프레임 하위 5개 행
+-----+---------+-------+----------+
|     | water   | sun   |   height |
|-----+---------+-------+----------|
| 115 | weekly  | high  |      5.4 |
| 116 | weekly  | high  |      5.9 |
| 117 | weekly  | high  |      5.6 |
| 118 | weekly  | high  |      5.3 |
| 119 | weekly  | high  |      4.8 |
+-----+---------+-------+----------+

기술통계
+--------+---------+---------+---------+-------+-------+-------+-------+-------+-------+
|        |   count |    mean |     std |   min |   25% |   50% |   75% |   max |   nan |
|--------+---------+---------+---------+-------+-------+-------+-------+-------+-------|
| height |     120 | 5.60167 | 1.68458 |   1.9 | 4.575 |   5.5 |   6.7 |  10.5 |     0 |
+--------+---------+---------+---------+-------+-------+-------+-------+-------+-------+

### [2] 분산분석 수행

In [8]:
my_anova(origin, 'height', ['water', 'sun'],True)

pingouin.anova
+----+-------------+---------+------+----------+---------+-------------+----------+
|    | Source      |      SS |   DF |       MS |       F |       p-unc |      np2 |
|----+-------------+---------+------+----------+---------+-------------+----------|
|  0 | water       | 122.816 |    1 |  122.816 | 130.529 | 1.30131e-20 | 0.533798 |
|  1 | sun         | 103.292 |    2 |  51.6461 | 54.8894 | 2.01328e-17 | 0.490568 |
|  2 | water * sun | 4.32717 |    2 |  2.16358 | 2.29945 |    0.104949 | 0.038777 |
|  3 | Residual    | 107.264 |  114 | 0.940912 |     nan |         nan |      nan |
+----+-------------+---------+------+----------+---------+-------------+----------+

statsmodels.anova.anova_lm
+-----------------+----------+------+---------+-------------+
|                 |   sum_sq |   df |       F |      PR(>F) |
|-----------------+----------+------+---------+-------------|
| C(water)        |  122.816 |    1 | 130.529 | 1.30131e-20 |
| C(sun)          |  103.292 |    2 | 54.8894 | 2.01328e-17 |
| C(water):C(sun) |  4.32717 |    2 | 2.29945 |    0.104949 |
| Residual        |  107.264 |  114 |     nan |         nan |
+-----------------+----------+------+---------+-------------+
[anova_lm] statistic: 130.529, p-value: 0.000, 대립가설 채택