# 데이터분할, 불균형 해소

패키지 참조

In [1]:
from pandas import read_excel
from sklearn.model_selection import train_test_split
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler, SMOTE

샘플 데이터 가져오기

In [2]:
origin = read_excel('https://data.hossam.kr/pydata/gradeuate.xlsx')
origin

     합격여부  필기점수  학부성적  병원경력
0       0   380  3.61     3
1       1   660  3.67     3
2       1   800  4.00     1
3       1   640  3.19     4
4       0   520  2.93     4
..    ...   ...   ...   ...
395     0   620  4.00     2
396     0   560  3.04     3
397     0   460  2.63     2
398     0   700  3.65     2
399     0   600  3.89     3

[400 rows x 4 columns]

### 데이터 분할

[1] 독립변수, 종속변수 분리하기

In [3]:
x = origin.drop(['합격여부'], axis=1)
y = origin['합격여부']
x.shape, y.shape

((400, 3), (400,))

[2] 훈련데이터와 검증데이터 분할하기

In [7]:
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.3, random_state=777)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((280, 3), (120, 3), (280,), (120,))

분할된 훈련데이터의 종속변수 비율 확인

In [8]:
y_train.value_counts()

합격여부
0    189
1     91
Name: count, dtype: int64

### 데이터 불균형 해소

[1] Under Sampling 방식-Random Under Sampler

In [10]:
undersampler = RandomUnderSampler(sampling_strategy="majority", random_state=777)
x_under, y_under = undersampler.fit_resample(x_train, y_train)
print(x_under.shape)
y_under.value_counts()

(182, 3)

합격여부
0    91
1    91
Name: count, dtype: int64

In [11]:
oversampler = RandomOverSampler(sampling_strategy="minority", random_state=777)
x_over, y_over = oversampler.fit_resample(x_train, y_train)
print(x_over.shape, y_over.shape)
y_over.value_counts()

(378, 3) (378,)

합격여부
1    189
0    189
Name: count, dtype: int64

In [12]:
smote_sampler = SMOTE(sampling_strategy="minority",k_neighbors=3, random_state=777)
x_sm, y_sm = smote_sampler.fit_resample(x_train, y_train)
print(x_sm.shape, y_sm.shape)
y_sm.value_counts()

(378, 3) (378,)

합격여부
1    189
0    189
Name: count, dtype: int64