# 10강. 딕셔너리의 이해

## 01. 딕셔너리의 이해

In [1]:
x = {"이름" : "값"}
print(x)

{'이름': '값'}

In [6]:
mydic = {"name" : "철수", "phone" : "010-1234-5678", "birth" : "0115"}
print(mydic)

{'name': '철수', 'phone': '010-1234-5678', 'birth': '0115'}

In [5]:
print(mydic["name"])

철수

In [9]:
mydic["birth"] = '0228'  # 특정 값 변경
print(mydic)

{'name': '철수', 'phone': '010-1234-5678', 'birth': '0228'}

In [4]:
mydic["True"] = 99  # 확장
print(mydic)

{'name': '철수', 'phone': '010-1234-5678', 'birth': '0115', 'True': 99}

In [10]:
print(mydic['A'])

KeyError: 'A'

>- 존재하지 않는 키의 값 사용하면 에러

### 키 중복 제한

In [11]:
# 키가 중복될 경우 하나를 제외한 나머지는 무시됨.
# -> 일반적으로 나중에 정의된 항목이 이전에 정의된 항목을 덮어 씀
data = {"msg": "hello", "msg": "world", "msg": "python"}
print(data['msg'])
data

python

{'msg': 'python'}

## #02. 다양한 형태의 자료구조

### 리스트를 원소로 갖는 딕셔너리

In [9]:
student = {
    "name" : ["철수", "민수", "호영"],
    "age" : [16,43,25],
    "height" : [176.3,183.4,156.5]
}
tpl = "[%s] 나이: %d세, 키: %0.1fcm"
print(tpl % (student['name'][0], student['age'][0], student['height'][0]))
print(tpl % (student['name'][1], student['age'][1], student['height'][1]))
print(tpl % (student['name'][2], student['age'][2], student['height'][2]))

[철수] 나이: 16세, 키: 176.3cm
[민수] 나이: 43세, 키: 183.4cm
[호영] 나이: 25세, 키: 156.5cm

### 딕셔너리를 원소로 갖는 리스트

In [16]:
grade = [
    {"name": "철수", " Kor" : 95, "eng" : 88},
    {"name": "영희", " Kor" : 92, "eng" : 98},
    {"name": "철민", " Kor" : 85, "eng" : 68},
 ]
   
print("0번째 원소: %s" % grade[0])
print("1번째 원소: %s" % grade[1])
print("2번째 원소: %s" % grade[])

0번째 원소: {'name': '철수', 'Kor': 95, 'eng': 88}
1번째 원소: {'name': '영희', 'Kor': 92, 'eng': 98}
2번째 원소: {'name': '철민', 'Kor': 85, 'eng': 68}

In [18]:
tpl = "{0}의 국어점수:{1}, 영어점수:{2}"
print(tpl.format(grade[0]['name'],grade[0]['Kor'],grade[0]['eng']))

철수의 국어점수:95, 영어점수:88

### 딕셔너리를 원소로 갖는 딕셔너리

In [12]:
phone = {
    "apple": {
        "name": "iPhone",
        "price": "200$"
    },
    "samsung": {
        "name": "Galluxy",
        "price": "200만원"
    }
}

In [13]:
tpl = "%s의 가격은 %s입니다."
print(tpl % (phone['apple']['name'], phone['apple']['price']))
print(tpl % (phone['samsung']['name'], phone['samsung']['price']))

iPhone의 가격은 200$입니다.
Galluxy의 가격은 200만원입니다.

### 목록 구조

In [14]:
lectures = {
    "teacher": "이광호 강사",
    "category": "프로그래밍",
    "subject": [
        {"no": 1, "title": "파이썬 프로그래밍", "date": "2023-03-01"},
        {"no": 2, "title": "자바 프로그래밍", "date": "2023-04-01"},
        {"no": 3, "title": "데이터분석", "date": "2023-05-01"}
    ]
}

In [15]:
print("[%s가 진행하는 %s 수업]" % (lectures['teacher'], lectures['category']))

tpl = "%d. %s -> 개강일: %s"
print(tpl % (lectures['subject'][0]['no'], lectures['subject'][0]['title'], lectures['subject'][0]['date']))
print(tpl % (lectures['subject'][1]['no'], lectures['subject'][1]['title'], lectures['subject'][1]['date']))
print(tpl % (lectures['subject'][2]['no'], lectures['subject'][2]['title'], lectures['subject'][2]['date']))

[이광호 강사가 진행하는 프로그래밍 수업]
1. 파이썬 프로그래밍 -> 개강일: 2023-03-01
2. 자바 프로그래밍 -> 개강일: 2023-04-01
3. 데이터분석 -> 개강일: 2023-05-01