# Series 자료형

In [2]:
from pandas import Series
import numpy as np

In [3]:
items = [10,30,50,70,90]
arr1 = np.array(items)
#print(arr1)
column = Series(items)
column

0    10
1    30
2    50
3    70
4    90
dtype: int64

In [4]:
for i,v in enumerate(column):
    print(v)

10
30
50
70
90

In [5]:
column.values

array([10, 30, 50, 70, 90], dtype=int64)

In [6]:
type(column.values)

numpy.ndarray

In [7]:
mylist = list(column.values)
mylist

[10, 30, 50, 70, 90]

In [8]:
column.index

RangeIndex(start=0, stop=5, step=1)

In [9]:
type(column.index)

pandas.core.indexes.range.RangeIndex

In [10]:
mylist2 = list(column.index)
mylist2

[0, 1, 2, 3, 4]

In [11]:
week1 = Series([290000, 310000], index=['sat','sun'])
week1

sat    290000
sun    310000
dtype: int64

In [12]:
week2 = Series([350000, 540000], index=['sun','sat'])
week2

sun    350000
sat    540000
dtype: int64

In [13]:
merge = week1 + week2
merge

sat    830000
sun    660000
dtype: int64

In [15]:
column = Series(np.arange(0,100,10))
column

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int32

In [17]:
in1 = column[column > 30]
in1

4    40
5    50
6    60
7    70
8    80
9    90
dtype: int32

In [19]:
in2 = column[column <=70][column>30]  # and 검색
in2

4    40
5    50
6    60
7    70
dtype: int32

In [21]:
in3 = column[(column<=10)|(column > 80)]  # or 검색
in3

0     0
1    10
9    90
dtype: int32

In [22]:
origin = Series(np.arange(0,100,10))
origin

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int32

In [23]:
origin.dtype

dtype('int32')

In [26]:
origin.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     int32
dtypes: int32(1)
memory usage: 172.0 bytes

In [28]:
x = origin.astype('float')
x

0     0.0
1    10.0
2    20.0
3    30.0
4    40.0
5    50.0
6    60.0
7    70.0
8    80.0
9    90.0
dtype: float64

In [30]:
x = origin.astype('str')
x

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: object

In [32]:
print("합계:", origin.sum())
print("평균:", origin.mean())
print("최대:", origin.max())
print("최소:", origin.min())
print("분산:", origin.var())
print("표준편차:", origin.std())
print("중앙값:", origin.median())

합계: 450
평균: 45.0
최대: 90
최소: 0
분산: 916.6666666666666
표준편차: 30.276503540974915
중앙값: 45.0